<style>
	body {
    	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	} 
	.bottom {
		position:absolute;
		bottom: 0;
	}
	.tile_panel {
		padding: 10px;
		width: 200px;
		height: 300px;
		background-color: #222222;
	}
	.tile {
		display: inline-block;
		width: 32px;
		height: 32px;
		vertical-align: bottom;
		margin-bottom: 4px;
		margin-right: 4px;
		background-color: #333333;
	}
	.section {
		color: #888888;
		display: block;
	}
</style>

<div id="editorUI" class="bottom">

	<div class="tile_panel">
		<!--<a href="#" class="ui-btn">Anchor</a>
		<button class="ui-btn">Button</button> -->
	</div>
</div>